*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, #C7C5F4, #776BCC);	
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main #uploadPreview{
    width: 200px;
    border: 2px solid #776BCC;
    box-shadow: 0 0px 9px #776BCC;
    height: 200px;
    border-radius: 50%;
}

.main #uploadImage{
    display: none;
}
.main #uploadButton{
    background: white;
    font-size: 15px;
    margin-top: -60px;
    padding: 10px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 55%;
}

.main .name{
    margin-top: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main .email{
    margin-bottom: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main #uploadButton:hover{
    cursor: pointer;
    background: rgb(133, 128, 128);
}

.main #delete{
    width: 150px;
    height: 40px;
    border-radius: 15px;
    background: #251d64;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main #Sign-Out{    
    margin-top: 10px;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    background: #1d5664;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.permission{
    display: none;
    padding: 20px;
    border: 2px solid rgb(255, 0, 0);
}
.permission h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(113, 0, 0);
}

.siign
{
    display: none;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.siign h2{
    color: rgb(1, 1, 99);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.siign button{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:5px;
    border-radius: 5px;
    background: rgb(2, 2, 135);
}

.siign a{
    color: white;
    text-decoration: none;
}

#loading{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
  }

  #loading i{
    font-size: 110px;
    animation: load 2s infinite;
  }

  #loading h2{
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:bold;
    font-size: 20px;
  }

  @keyframes load{
    50%{
      transform: rotate(180deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }