*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(130deg, #000000,#003b58af);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    background: rgba(255, 255, 255, 0.626);
    width: 450px;
    border-radius: 20px;
    padding: 30px;
    height: 510px;
}

.main .chat{
    background: rgba(43, 66, 72, 0.79);
    /* min-width: 200px; */
    padding-top: 10px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    max-width: 300px;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.main .chat .name{

    padding-left: 20px;
    font-size: 10px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(4, 255, 134);
    
}

.main .chat .message{
    width: 90%;
    padding-left: 20px;
    color: aliceblue;
    font-size: 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.chatarea{
    transition: 5s;
    height: 400px;
    overflow-y: scroll;
    display: flex;
    transition: 31s;
    flex-direction: column;
}

.main .enter{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main .enter .input
{
    width: 80%;
    font-size: 15px;
    padding-left: 30px;
    border-radius: 10px;
    height: 40px;
}

.main .enter .send{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    font-size: 10px;
}

.enternamae{
    background: rgba(59, 161, 234, 0.455);
    width: 400px;
    border-radius: 50px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enternamae input{
    width: 250px;
    height: 50px;
    font-size: 15px;
    padding-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
}

.enternamae button{
    height: 50px;
    border-radius: 10px;
    width: 50px;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logout{
    text-align: center;
    cursor: pointer;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 15px;
}
.logout:hover{
    color: rgba(15, 20, 19, 0.607);
}

button:hover{
    cursor: pointer;
}