*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg,  rgb(0, 0, 0), rgb(15, 9, 45));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    cursor: none;
    /* height: 120vh; */
    overflow: none;
}

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 3px solid rgba(251, 254, 255, 0.683);
  transition: all 200ms ease-out;
  position: fixed;
  z-index: 10;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  width: 10px;
  height: 10px;
  z-index: 10;
  border-radius: 100%;
  background-color: rgb(199, 196, 196);
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
}

.hover {
  background-color: red;
  opacity: 0.5;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
}

a{
    text-decoration: none;
}

nav{
    height: 60px;
    background: #000000d1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    transition: 1s;
  }
  nav h2{
    margin-left: 30px;
    font-size: 50px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  nav span{
    color:orangered;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
  }
  nav ul li a{
    color: rgb(109, 102, 102);
    text-decoration: none;
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    color : white;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: rgba(85, 83, 83, 0.838);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }

  .start{
    /* background-color: white; */
    width: 90vw;
    padding-top: 200px;
    padding-left: 100px;
  }

  .start .startname{
    display: flex;
    width: 90px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(80, 78, 78);
    justify-content: space-around;
    align-items: center;
  }
  .start .startname span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid orangered;
    box-shadow: 0 1px 2px orangered;
  }

  .start .main
  {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
  }
  .start .main .container{
    display: flex;
    flex-direction: column;
    transform: translate(-700px, 0px);
    opacity: 0;
    transition: 0.5s ease-in-out;
  }
  .start .main .container h2{
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
  }

  .start .main .container h2 span{
      text-transform: uppercase;
      background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.start .main .container h3{
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

.start .main .container h3 span::before{
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    content: "Apps";
    font-weight: bold;
    color: rgb(249, 253, 255);
    animation: change infinite 7s;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    user-select:none;
}

@keyframes change {
  
  0% {
      content: "Apps";
      background-position: 600% center;
  }

  50% {
      content: "Ux/Ui";
      background-position: 0% center;
  }

  75% {
      content: "website";
      background-position: 600% center;
  }
}

.start .main .container a{
    margin-top: 30px;
    text-decoration: none;
}

.start .main .container a button{
    color: white;
    width: 200px;
    border-radius: 3px;
    font-size: 25px;
    border: none;
    outline: none;
    height: 50px;
    background: orangered;
}

.start .main .container .text{
    color: rgb(145, 147, 148);
    margin-top: 150px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.start .main .container2{
  transition: 1s ease-in-out;
  transform: translate(700px,0px);
  opacity: 0;
}

.start .main .container.active,.start .main .container2.active{
  transform: translate(0px,0px);
  opacity: 1;
}


.start .main .container2 img{
    border-radius: 50%;
    border: none;
    box-shadow: 0 0px 6px black;
}

.about{
    /* background-color: white; */
    width: 90vw;
    padding-top: 150px;
    padding-left: 100px;
  }

  .about .aboutname{
    display: flex;
    width: 100px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(80, 78, 78);
    justify-content: space-around;
    align-items: center;
  }
  .about .aboutname span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid orangered;
    box-shadow: 0 1px 2px orangered;
  }
.about .container{
    background: rgba(77, 73, 73, 0.228);
    padding: 30px;
    margin-top: 30px;
    transition: 0.5s;
}

  .about .container p{
    color: rgba(255, 255, 255, 0.62);
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
  }

  .work{
    width: 90vw;
    padding-top: 100px;
    padding-left: 100px;
  }

  .work .workname{
    display: flex;
    width: 90px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(80, 78, 78);
    justify-content: space-around;
    align-items: center;
  }
  .work .workname span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid orangered;
    box-shadow: 0 1px 2px orangered;
  }

  .work .work1{
    margin-top: 100px;
    /* filter: brightness(50%); */
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    background:  linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(./img/portfolio.png);
    font-size: 30px;
    width: 600px;
    height: 300px;
    background-size: cover;
    color: rgba(255, 254, 254, 0.744);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.7s;
  }

  .work .work1:hover
{
    width:650px;
    height: 300px;
    font-size: 50px;
    box-shadow: 0 0px 4px solid white;
}

  .work .work2{
    /* filter: brightness(50%); */
    margin-left: 60%;
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    background:  linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(./img/chatbase.png);
    font-size: 30px;
    width: 600px;
    height: 300px;
    background-size: cover;
    color: rgba(255, 254, 254, 0.744);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.7s;
  }

  .work .work2:hover
{
    width:650px;
    height: 300px;
    font-size: 50px;
    box-shadow: 0 0px 4px solid white;
}
  .work .work3{
    /* filter: brightness(50%); */
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    background:  linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(./img/signupandlogin.png);
    font-size: 30px;
    width: 600px;
    height: 300px;
    background-size: cover;
    color: rgba(255, 254, 254, 0.744);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.7s ease-in-out;
  }
  .work .work3:hover
{
    width:650px;
    height: 300px;
    font-size: 50px;
    box-shadow: 0 0px 4px solid white;
}

.reveal{
  transform: translate(0px, 200px);
  opacity: 0;
}
.reveal.active{
  transform: translate(0px, 0px);
  opacity: 1;
}

.contact{
  width: 90vw;
  height: 80vh;
  padding-top: 100px;
  padding-left: 100px;
}

.contact .contactname{
  display: flex;
  width: 120px;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: rgb(80, 78, 78);
  justify-content: space-around;
  align-items: center;
}
.contact .contactname span{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid orangered;
  box-shadow: 0 1px 2px orangered;
}

.contact .main h2{
  color: white;
  margin-top: 100px;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact .main li{
  color: white;
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
}

.contact .main li a{
  color: rgb(7, 7, 203);
  letter-spacing: 2px;
  font-weight: 500;
}

.contact .main div{

  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 200px;
}

#touch{
   width: 400px;
   height: 70px;
   margin-top: 30px;
   background: orangered;
   color: white;
   border: none;
   border-radius: 10px;
   font-size: 25px;
}

.form{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000000e3;
  text-align: center;
  z-index: 2;
  top: 0px;
  left: -100%;
  transition: all .5s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form h2{
  color: orangered;
  text-decoration: line-through;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 60px;
  margin-bottom: 150px;
}

.form span{
  color: rgb(97, 200, 102);
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form input{
  background: transparent;
  margin-top: 10px;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(97, 200, 102);
  width: 400px;
  height: 50px;
  padding-left: 10px;
  font-size: 20px;
}

.form button{
  width: 150px;
  height: 30px;
  background: orangered;
  color: white;
  font-weight: 600;
  font-size: 15px;
  margin-top: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form p{
  font-size: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: orangered;
  color: white;
}

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000000d1;
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }

  .start{
      padding-top: 150px;
      padding-left: 30px;
  }
  .start .container2{
      display: none;
  }

  .about{
    padding-top: 40px;
    width: 95vw;
    padding-left: 30px;
}
.work{
  padding-top: 40px;
  width: 95vw;
  padding-left: 30px;
}
  .work .work1,.work .work2,.work .work3{
    margin: 0;
    font-size: 20px;
    margin-left: 50px;
    width: 250px;
    height: 150px;
    margin-top: 80px;
  }
  .contact{
    padding-top: 40px;
    width: 95vw;
    padding-left: 30px;
  }
  .contact .main h2{
    margin: 0;
    font-size: 30px;
    margin-top: 50px;
  }
  .contact .main li{
    font-size: 16px;
    color: #595d61;
  }
  .contact .main li a{
    color: #083c64;
  }
  .name{
    font-size: 40px;
  }
  .cursor,.cursor2{
    display: none;
  }
}

body::-webkit-scrollbar{
  display: none;
}