@font-face {
  font-family: 'Pokemon GB';
  src: url('path/to/pokemon-gb.woff') format('woff');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background: white;
    background-image: url(/Pokedex/img/background.png);
    display: flex;
    background-attachment: fixed;
    background-size: cover;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: center; */
}

.container{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    /* flex-grow: 1; */
    /* overflow-y: scroll; */
    flex-wrap: wrap;
    margin-top: 120px;
  }
  
  .card{
    margin-left: 30px;
    border-radius: 20px;
    background-color: #65626285;
    overflow: auto;
    display: flex;
    width: 200px;
    margin-top: 22px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 330px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin: 5px;
  }

  .pokeid{
    margin-right:80px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #adacac;
  }

  .pokemon{
    font-size: 20px;
    font-family: 'Pokemon GB', Arial, sans-serif;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
  }

  .leaadmore{
    font-size: 20px;
    width: 160px;
    height: 50px;
    margin-left: 30px;
    margin-top: 20px;
    font-family: 'Pokemon Solid', sans-serif;
    border-radius: 40px;
    font-weight: bold;
    background: rgb(249, 243, 243);
  }

  .fa-arrow-down-long{
    margin-left: px;
  }

  .searchcard{
    min-width: 220px;
    min-height: 250px;
    margin-top: 30px;
    display: none;
    border-radius: 40px;
    background-color: #65626229;
    overflow: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .searchpokeid{
    margin-right:80px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #adacac;
  }

  img {
    width: 150px;
    cursor: pointer;
    margin: 5px;
  }

  .searchpokemon{
    font-size: 30px;
    color:white;
    font-family: 'Pokemon GB', Arial, sans-serif;
    margin-bottom: 20px;
  }

  .title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .notfound{
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    height: 70vh;
    border-radius: 20px;
    width: 70vw;
    background: white;
    flex-direction: column;
  }

  .sorry{
      color: darkred;
      font-size: 30px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .p404{
    font-size: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .p404 img{
    width: 90px;
  }

  .pokenot{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: rgb(121, 2, 2);
  }

  #loading{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
  }

  #loading i{
    font-size: 110px;
    animation: load 2s infinite;
  }

  #loading h2{
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:bold;
    font-size: 20px;
  }

  @keyframes load{
    50%{
      transform: rotate(180deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  .searchbox{
    display:flex;
    margin-left: 136px;
    width: 850px;
    margin-top: 10px;
    justify-content: space-between;
  }
  .searchbox input{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-right: -180px;
    padding-left: 20px;
    font-size: 20px;
  }
  .searchbox button{
    height: 40px;
    border: none;
    width: 40px;
    background: rgba(191, 126, 6, 0.946);
    border-radius: 10px;
  }

  .searchbox .text{
    border-radius: 10px;
    margin-left: 20px;
    font-size: 20px;
    max-width: 290px;
    padding:2px;
    color: white;
    background: rgba(66, 145, 66, 0.938);
  }

  #pokemon::-webkit-calendar-picker-indicator {
    color: white;
  }

  .powerss {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 20px;
    margin-bottom: 10px;
  }

  .power {
    min-width: 60px;
    display: flex;
    height: 30px;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #fff;
  }

  .searchpowerss {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 20px;
    margin-bottom: 10px;
  }

  .searchpower {
    min-width: 60px;
    display: flex;
    height: 30px;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #fff;
  }
  .card:hover{
    margin-left: 26px;
    margin-top: 5px;
  }

  .searchcard:hover{
    margin-left: -12px;
    margin-top: 21px;
  }

  nav{
    background: #ffffff;
    height: 60px;
    width: 100%;
  }
  nav .pokkl{
    margin-left: 30px;
    margin-top: -12px;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
  }
  nav ul li a{
    color: rgba(0, 0, 0, 0.616);
    text-decoration: none;
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: rgba(255, 145, 0, 0.883);
    color : white;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: rgba(85, 83, 83, 0.838);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }

  .stars
  {
    width: 180px;
    display: flex;
    justify-content: right;
  }

  .stars .fa-regular{
    color: gold;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .stars .fa-solid{
    color: gold;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){

    .searchbox{
      width: 100%;
      margin-left: 0;
      justify-content: center;
    }
    .searchbox input{
      margin: 0;
    }
    .searchbox .searchbtn{
      margin: 0px;
    }
    .searchbox .text{
      display: none;
    }
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #063838;
      top: 60px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      display: flex;
      /* justify-content: space-around; */
      align-items: center;
      flex-direction: column;
      /* gap: 30px; */
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }